@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: #F66000;
}

h1 {
  text-transform: uppercase;
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 90px;
  height: 20vh;
  width: 50vw;
  color: white;
}

.vnw {
  font-family: 'Inter', sans-serif;
  display: flex;
  align-items: start;
  justify-content: center;
  height: 13vh;
  width: 50vw;
  font-size: 64px;
  color: white;
}

main{
  display: flex;
  justify-content: space-around;
}

